@import './assets/fonts/SeeFont/style.css';
@import './assets/fonts/SeeFontEx/style.css';
@import './assets/fonts/SeeYngping/style.css';
@import './assets/fonts/seesymbol/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

